.ui-panel {
  padding: var(--space-4) var(--space-5);
  background: var(--color-bg-container);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.ui-panel--sm {
  padding: var(--space-2) var(--space-2);
  background: var(--color-bg-container);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-xs);
}
